<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">First Bootstrap Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/test">Google</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/d2l/home">D2L</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/d2l/le/lessons/18793458/units/147555099">Course Intro</a></li>
    </ul>
  </div>
</nav>
  
<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>This page will include multiple labs from CS50.</p> 
</div>
  <div class="jumbotron text-center">
    <h1>Unit 1 Loops</h1>
    </div>

  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>While Loop</h3>
      <p>This code shows an example of a while loop in C</p>
      <script src="https://gist.github.com/brandontate24368/71a7f707384142fcc8691e5925165acf.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/whileloop/" target="_blank">Link to the While Loop file</a>
      
      
    </div>
    <div class="col-sm-4">
      <h3>For Loops</h3>
      <p>This code shows an example of a for loop in C</p>
      <script src="https://gist.github.com/brandontate24368/ecb4c62a851ab21cae7a6c622db6a38d.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/forloop/" target="_blank">Link to the For Loop file</a>
    </div>
    <div class="col-sm-4">
      <h3>Do While Loops</h3>        
      <p>This is an example of of a do while loop in C</p>
      <script src="https://gist.github.com/brandontate24368/4c9921ae7c7c1322129d94f5492ff206.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/dowhileloop/" target="_blank">Link to the Do While Loop file</a>
    </div>
  </div>
</div>

  
</body>
</html>
